<div fxLayout="row" fxLayoutAlign="center" class="page-container">
  <div
    ngClass.xs="mx-20"
    ngClass="mx-40"
    fxLayout="column"
    fxLayoutGap="20px"
    fxLayoutAlign="start center"
  >
    <div ngClass="w-50" ngClass.xs="w-80">
      <span class="subtitle-1"
        >Si tienes alguna duda ,comentario o sugerencia puedes contactarnos y
        nos comunicamos contigo lo antes posible.</span
      >

      <div fxLayout="column" fxLayoutAlign="center center">
        <!-- <span class="text-1"
          >Teléfono: <a href="tel:+5356708646">56708646</a></span
        > -->
        <span class="text-1"
          >Correo:
          <a href="mailto:soporte@runrunapp.com">soporte@runrunapp.com</a></span
        >
        <span class="text-1"
          >Dirección: Plaza de la Revolución, La Habana, Cuba</span
        >
      </div>
    </div>
  </div>
</div>
