.dialog-backdrop {
  background-color: $white;
  opacity: 0.5 !important;
}

.gestion-menu-btn {
  box-shadow: none;
  border: none;
  background-color: transparent;
}

.dialog-panel {
  border-radius: none;
  @media screen and (min-width: '320px') {
    width: 100vw !important;
    max-width: 100vw !important;
  }
  @media screen and (min-width: '600px') {
    width: 60%;
  }
}

.free {
  color: $green;
}
.busy {
  color: $light-blue !important;
}
.not-available {
  color: $red !important;
}

.runroomie-share-dialog {
  background-color: transparentize($color: $yellow, $amount: 0.1);
}

.runroomie-share-dialog-panel {
  background-color: transparent;
  & > mat-dialog-container {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}
