.page-container {
  min-height: calc(100vh - 50px);
  background-color: $gray;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  @media (max-width: '600px') {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.information-wrapper {
  width: 520px;
  @media (max-width: '600px') {
    width: 100%;
  }
}

div.separator {
  height: 2px;
  width: 100%;
  background-color: $black;
}
