@import 'src/styles/constants/colors';
@import 'src/styles/constants/constants';

@mixin landing-btn {
  background-color: $white;
  border-radius: $big-border-radius;
  border: 0;
  padding: 20px;
  height: 200px;
}

:host {
  .search-button {
    @include landing-btn;

    color: $light-blue;

    &:hover {
      background-color: $light-blue;
      color: $white;
    }
    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }
  .publish-button {
    @include landing-btn;

    color: $red;

    &:hover {
      background-color: $red;
      color: $white;
    }
    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }

  mat-icon.white-check {
    ::ng-deep svg {
      stroke: $white;
    }
  }

  .background-runplus {
    background-color: $red;
    position: relative;
  }

  .plus-brand {
    height: calc(100vh - 50px);
    @media screen and (min-width: '320px') {
      background-image: url('/assets/landing/hands_mobile.png');
      background-attachment: local;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      div {
        width: 100%;
      }
      .runrun-plus-img {
        width: calc(100% - 20px);
      }
    }
    @media screen and (min-width: '500px') {
      background-image: url('/assets/landing/hands_desktop.png');
      background-size: cover;
      div {
        width: 40%;
      }
      .runrun-plus-img {
        width: 355px;
        margin-top: 50px !important;
        // height: 97px;
      }
    }
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
  }

  span.plus-header {
    width: 350px;
    text-align: center;
    line-height: 18px;
  }

  .plus-info-container {
    background-color: $dark-blue;
    color: $white;
    padding: 100px 100px;
  }

  span.rounded-button {
    border-radius: 10px;
    background-color: $white;
    color: $black;
    padding: 5px;
  }
}
