<div class="background-runroomie">
  <div
    class="runroomie-brand animate__fadeInUp"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div fxLayout="column" fxLayoutGap="5vh" fxLayoutAlign="center center">
      <mat-icon class="runroomie-logo" [svgIcon]="Icons.RUNROOMIE"></mat-icon>
      <span class="subtitle-1 align-center"
        >Encuentra tu roommate perfecto</span
      >
      <button class="black-regular" [routerLink]="[runroomieURL]">
        Comenzar
      </button>
    </div>
  </div>
</div>
