:host {
  .center {
    text-align: center;
  }
  .container {
    height: 100vh;
  }
  .verified-badge {
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    width: 100%;
  }
}
