<div fxLayout="row" class="page-container" fxLayoutAlign="center center">
  <div
    fxLayout="column"
    fxLayoutAlign=" center"
    class="w-60"
    ngClass.xs="w-100 mx-10"
    fxLayoutGap="20px"
  >
    <span class="subtitle-1">Listo :)</span>
    <img src="../../../../../../assets/landing/landing_small.png" />
    <span class="main-font-semibold-15 center"
      >Enviaremos un correo cuando su inmueble esté listo para aparecer visible
      y más informaciones acerca de la plataforma Runrún
    </span>
    <span class="typo-7 center"
      >Su anuncio llevará nuestro icono de verificación:
    </span>
    <div fxLayout="row" fxLayoutGap="10px" class="verified-badge">
      <mat-icon svgIcon="verified"></mat-icon>
      <span class="reg-15">
        El equipo de <span class="typo-7">RUNRÚN</span> visitó el inmueble, tomó
        las fotos, y verificó las comodidades y características del
        anuncio.</span
      >
    </div>
  </div>
</div>
