<div fxLayout="row" fxLayoutAlign="center" class="mt-30" fxFill>
  <div
    fxLayout="column"
    ngClass.xs="w-100 mx-10"
    ngClass.gt-xs="w-60"
    fxLayoutGap="20px"
    fxLayoutAlign="space-between"
  >
    <span class="ext-reg-20">
      Solicitud de gestión de impuestos y tenencia de libros
    </span>

    <p class="main-font-reg-15">
      El equipo de <span class="text-1"> RUNRÚN </span> se encargará del pago de
      tus impuestos y la tenencia del libro de arrendador.
    </p>
    <p class="main-font-reg-15">
      Tendrá acceso a información actualizada a través de la página de gestión.
    </p>

    <div fxLayout="column" class="container">
      <span class="main-font-reg-15"
        >El servicio tiene un costo de 300cup y se agregará al pago mensual que
        realiza por el servicio de gestión y publicidad de su alojamiento</span
      >
      <span class="text-1 free">200cup + impuestos + 300cup</span>
    </div>

    <div
      fxLayout="row nowrap"
      fxLayoutAlign="space-between center"
      class="w-100 mt-50"
      fxLayoutGap="20px"
    >
      <button mat-flat-button class="button-variant-normal-oulined" fxFlex>
        Cancelar
      </button>
      <button mat-flat-button class="button-variant-normal-oulined" fxFlex>
        Aceptar
      </button>
    </div>
  </div>
</div>
