<div
  class="mt-50"
  fxLayout="row nowrap"
  style="height: 100vh"
  fxLayoutAlign="center center"
>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <span class="text-1">Gracias por registrarse en Runrún!</span>
    <span class="text-1"
      >Se le ha enviado un correo para que
      <span style="color: #92cbab">verifique</span> su cuenta.</span
    >
    <span class="text-2"
      >Si no lo encuentra en la bandeja principal prueba a buscar en la sección
      de Spam</span
    >
    <span class="text-2">Este correo puede tardar unos minutos en llegar</span>
  </div>
</div>
