<div fxLayout="row" fxLayoutAlign="center" class="page-container">
  <div ngClass.xs="mx-20" fxLayout="column" fxLayoutGap="20px">
    <span class="title-2">RESTABLECER CONTRASEÑA</span>

    <form fxLayout="column" fxLayoutGap="60px" (submit)="onSubmit()">
      <div fxLayout="column" fxLayoutGap="10px">
        <input
          type="password"
          [(ngModel)]="newPassword1"
          class="runrun-input-light"
          placeholder="Nueva contraseña"
          [minlength]="8"
          [ngModelOptions]="{ standalone: true }"
        />
        <input
          type="password"
          [(ngModel)]="newPassword2"
          class="runrun-input-light"
          placeholder="Confirmar nueva contraseña"
          [minlength]="8"
          [ngModelOptions]="{ standalone: true }"
        />

        <!-- <span class="red main-font-semibold-15" *ngIf="newPassword1 !== newPassword2"></span> -->
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button
          [disabled]="newPassword1 !== newPassword2"
          mat-flat-button
          class="button-variant-filled"
          type="submit"
        >
          Continuar
        </button>
      </div>
    </form>
  </div>
</div>
