<div
  class="front-start-container"
  fxLayout="column"
  ngClass.xs="mobile"
  fxLayoutGap="40px"
>
  <div
    fxLayout="row"
    fxLayoutAlign="center stretch"
    class="img-container"
  ></div>
  <span
    id="landing-subheading"
    fxHide.gt-xs
    class="title-1"
    style="line-height: 30px"
  >
    PUBLICA, BUSCA O GESTIONA TU RENTA
  </span>

  <div
    class="overlay-text"
    fxShow="false"
    fxShow.gt-xs
    fxLayout="column"
    fxLayoutGap="10px"
  >
    <span class="title-1">PUBLICA, BUSCA O GESTIONA TU RENTA</span>
    <img src="/assets/svg/icons/blog_arrow.svg" width="120" height="24" />
  </div>
</div>
