<div fxLayout="row" fxLayoutAlign="center" class="page-container">
  <div ngClass.xs="mx-20" fxLayout="column" fxLayoutGap="20px">
    <span class="title-1">RESTABLECER CONTRASEÑA</span>

    <form fxLayout="column" fxLayoutGap="100px" (submit)="onSubmit()">
      <div fxLayout="column" fxLayoutGap="10px">
        <span class="text-1">Ingresa tu correo electrónico</span>
        <input
          type="email"
          class="runrun-input-light"
          placeholder="Correo electrónico"
          [(ngModel)]="email"
          [ngModelOptions]="{ standalone: true }"
        />
        <span class="text-2"
          >*Enviaremos un correo con indicaciones para restablecer su
          contraseña</span
        >
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button class="button-variant-filled-gray" type="submit">
          Continuar
        </button>
      </div>
    </form>
  </div>
</div>
