<div fxLayout="row" fxLayoutAlign="center" class="page-container">
  <div
    ngClass.xs="mx-20"
    ngClass="mx-80"
    fxLayout="column"
    fxLayoutAlign="space-between"
  >
    <p class="title-2">
      <span class="c11">POL&Iacute;TICA DE PRIVACIDAD DE RUNRUN</span>
    </p>
    <p class="c4"><span class="c10"></span></p>
    <p class="c4"><span class="c10"></span></p>
    <p class="c3">
      <span class="c0"
        >De acuerdo con la Ley n&ordm; 149 de Protecci&oacute;n de Datos
        Personales, dictada por la Asamblea Nacional del Poder Popular, y
        publicada en la Gaceta Oficial el 25 de agosto de 2022, ser&aacute;n
        objeto de la protecci&oacute;n de datos las personas naturales respecto
        a sus datos, y las personas jur&iacute;dicas o naturales en cuanto al
        tratamiento de datos personales que realicen.</span
      >
    </p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c3">
      <span class="c0"
        >Por tanto, la pol&iacute;tica de privacidad de RUNRUN se refiere a la
        protecci&oacute;n de datos que de acuerdo con la ley debe
        realizarse.</span
      >
    </p>
    <p class="c1"><span class="c6"></span></p>
    <p class="c1"><span class="c6"></span></p>
    <p class="c1"><span class="c6"></span></p>
    <p class="c3">
      <span class="subtitle-1"
        >Privacidad, pero&hellip; &iquest;DE QU&Eacute;?</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >Nuestra pol&iacute;tica de privacidad se refiere a los datos que
        t&uacute;, como usuarix, nos cedes. Esta pol&iacute;tica te informa de
        los derechos que te asisten en cuanto a tu informaci&oacute;n, y nos
        obliga a nosotros a proceder de una determinada forma respecto a tus
        datos.</span
      >
    </p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c3">
      <span class="subtitle-1"
        >&iquest;De qu&eacute; forma yo, como usuario, cedo datos a
        RUNRUN?</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >Nos cedes los datos, de forma online, a trav&eacute;s de la
        p&aacute;gina web, o bien de manera f&iacute;sica.</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >Al registrarte por primera vez en nuestra p&aacute;gina web,
        est&aacute;s aceptando la cesi&oacute;n y el manejo y almacenamiento de
        tus datos por parte de nuestra entidad. Al concluir tu registro, y
        verificar tu correo electr&oacute;nico, aceptas que estos datos sean
        almacenados por RUNRUN.</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >De forma f&iacute;sica, puedes ceder datos a RUNRUN mediante la firma y
        emisi&oacute;n de documentos escritos en formato papel, aunque estos, a
        su vez, podr&aacute;n convertirse y ser almacenados de manera
        digital.</span
      >
    </p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c3">
      <span class="subtitle-1"
        >&iquest;Cu&aacute;les son los datos que puedo generar de forma
        ONLINE?</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >Los datos online se pueden referir a m&uacute;ltiples posibilidad, el
        registro en primer lugar (nombre, apellidos, g&eacute;nero si se
        identifica con alguno, correo electr&oacute;nico, n&uacute;mero de
        tel&eacute;fono).</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >Una vez registrado, se pueden generar multitud de datos:
        publicaci&oacute;n de viviendas u otros espacios, im&aacute;genes de los
        mismos, direcciones.</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >A su vez, como persona que busca un espacio, podr&aacute;s ceder tus
        datos, adem&aacute;s de en el registro, al buscar (relativos a
        preferencias de b&uacute;squeda, intereses, filtros, etc.)</span
      >
    </p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c3">
      <span class="subtitle-1"
        >&iquest;Y cu&aacute;les, los de categor&iacute;a f&iacute;sica?</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >Puedes ceder datos a trav&eacute;s de: suscripci&oacute;n de contratos
        en el que figuren datos personales, dictado en persona, la
        emisi&oacute;n de recibos, facturas, o cartas de pago, y otros
        documentos an&aacute;logos que sean susceptibles de contener
        informaci&oacute;n personal.</span
      >
    </p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c3">
      <span class="subtitle-1"
        >&iquest;Qu&eacute; hace RUNRUN con MIS DATOS?</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >Principalmente tus datos se usar&aacute;n en una &uacute;nica
        v&iacute;a. Esta ser&aacute; de forma interna, por cuestiones
        operativas: funcionamiento de las rentas y contacto; ofrecer
        informaci&oacute;n a arrendadorx y arrendatarix; estad&iacute;sticas;
        &nbsp;an&aacute;lisis de big data.</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >De forma residual y excepcionalmente, se podr&aacute;n ceder datos
        relativos al contacto y preferencias (nunca cuestiones como documentos
        de identidad, direcciones, fotograf&iacute;as e im&aacute;genes,
        informaci&oacute;n econ&oacute;mica) a terceros, siempre que colaboren
        con RUNRUN mediante una relaci&oacute;n formal, por cuestiones
        comerciales de publicidad, marketing, posibilidades de establecer
        relaciones contractuales, etc.</span
      >
    </p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c3">
      <span class="subtitle-1"
        >&iquest;A qu&eacute; est&aacute; obligado RUNRUN con respecto a mis
        datos?
      </span>
    </p>
    <p class="c3">
      <span class="c0"
        >RUNRUN est&aacute; obligado a la conservaci&oacute;n y almacenamiento
        de tus datos en privado. Estos no se podr&aacute;n hacer
        p&uacute;blicos.</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >Estaremos, por tanto, en el deber de mantener la seguridad de nuestro
        (s) sitio(s) web, y dem&aacute;s archivos corporativos.</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >Tambi&eacute;n tenemos el deber de conservarlos con exactitud, sin
        modificaci&oacute;n unilateral. Por ese mismo motivo, los datos que nos
        traslades deber&aacute;n ser ver&iacute;dicos en todo caso.</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >Mediante solicitud por escrito, estaremos obligados a proceder a darte
        acceso, o a la modificaci&oacute;n, correcci&oacute;n, a&ntilde;adido y
        eliminaci&oacute;n de estos.</span
      >
    </p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c3">
      <span class="subtitle-1">En cuanto a la conservaci&oacute;n&hellip;</span>
    </p>
    <p class="c3">
      <span class="c0"
        >Debemos almacenar los datos siempre que exista una relaci&oacute;n
        entre t&uacute; y RUNRUN. Si eres arrendadorx, o arrendatarix, o
        simplemente usuarix que est&aacute; buscando un espacio, deberemos
        mantener tus datos almacenados.</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >Estamos obligados a conservarlos tal y como nos los traslades, sin
        realizar modificaciones siempre y cuando t&uacute; no lo solicites, por
        lo que deber&aacute;s dar estas informaciones personales con exactitud y
        veracidad. RUNRUN no se har&aacute; responsable de situaciones en las
        que datos inequ&iacute;vocos provoquen controversias.</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >Cuando la relaci&oacute;n entre t&uacute; y RUNRUN deje de existir,
        bien porque dejas de ser arrendadorx/arrendatarix, o porque eliminas tu
        perfil, si no solicitas la eliminaci&oacute;n de tus datos, los
        conservaremos durante un plazo m&aacute;ximo de 3 a&ntilde;os.</span
      >
    </p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c3">
      <span class="subtitle-1"
        >En cuanto a la modificaci&oacute;n y rectificaci&oacute;n&hellip;</span
      >
    </p>
    <p class="c3">
      <span class="c0">A trav&eacute;s del correo </span
      ><span class="c5"
        ><a class="c8" href="mailto:dataprotection@runrunapp.com"
          >dataprotection@runrunapp.com</a
        ></span
      ><span class="c0"
        >&nbsp;podr&aacute;s enviar la solicitud de modificaci&oacute;n. El
        correo deber&aacute; incluir nombre y apellidos, tel&eacute;fono y
        correo electr&oacute;nico, as&iacute; como los datos a modificar.</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >En el plazo m&aacute;ximo de 72 horas, unx agente contactar&aacute;
        contigo, bien al tel&eacute;fono, bien al correo que tenemos registrado,
        y tras comprobar tu identidad, proceder&aacute; a la modificaci&oacute;n
        correspondiente.</span
      >
    </p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c3">
      <span class="subtitle-1">En cuanto a la eliminaci&oacute;n&hellip;</span>
    </p>
    <p class="c3">
      <span class="c0"
        >Mediante el env&iacute;o de un correo electr&oacute;nico a </span
      ><span class="c5"
        ><a class="c8" href="mailto:dataprotection@runrunapp.com"
          >dataprotection@runrunapp.com</a
        ></span
      ><span class="c0"
        >&nbsp;podr&aacute;s solicitar la eliminaci&oacute;n de todos los
        registros y archivos de datos e informaci&oacute;n personal.</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >Cuando lo solicites, deber&aacute;s incluir tu nombre y apellidos,
        correo electr&oacute;nico y tel&eacute;fono. Si estos coinciden con los
        registrados, unx agente contactar&aacute; contigo, y tras comprobar tu
        identidad y que efectivamente no tienes vigente ninguna relaci&oacute;n
        en RUNRUN (ya no tienes ning&uacute;n espacio arrendado, o ya no
        est&aacute;s arrendadx en alg&uacute;n espacio), proceder&aacute; a la
        eliminaci&oacute;n de tus datos en un m&aacute;ximo de 72 horas desde
        este contacto.</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >Cuando tus datos est&eacute;n en el proceso final de borrado, te
        transmitiremos un correo inform&aacute;ndote de que tus datos han sido
        borrados. Una vez remitido dicho correo, procederemos a eliminar
        finalmente los datos, incluida esta direcci&oacute;n de correo
        electr&oacute;nico usada por &uacute;ltima vez.</span
      >
    </p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c3">
      <span class="c0"
        >Una vez eliminados, estos no se podr&aacute;n recuperar. Deber&aacute;s
        registrarte de nuevo, si quisieras, e ir continuando con el llenado
        desde cero.</span
      >
    </p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c3">
      <span class="subtitle-1"
        >&iquest;En qu&eacute; &uacute;nico supuesto podremos ceder datos a
        terceros?</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >Como dec&iacute;amos, s&oacute;lo podremos trasladar tus datos (y no
        todos) a terceros con fines comerciales. Sin embargo, no se
        podr&aacute;n ceder a cualquier entidad: deber&aacute; ser una que tenga
        relaciones formales y contractuales con RUNRUN, y s&oacute;lo con
        motivos de contacto, publicidad, marketing, mailing.</span
      >
    </p>
    <p class="c3">
      <span class="c0"
        >Qu&eacute; datos podremos trasladar: nombre, correo electr&oacute;nico,
        intereses/preferencias de producto, tel&eacute;fono.</span
      >
    </p>
    <p class="c3">
      <span class="c0">Qu&eacute; datos </span><span class="c6">NUNCA</span
      ><span class="c0"
        >&nbsp;podremos trasladar: apellidos, documentos de identidad,
        direcciones, fotograf&iacute;as personales, im&aacute;genes de espacios
        rentados, informaciones econ&oacute;micas, informaciones laborales,
        contratos, recibos, facturas y an&aacute;logos.</span
      >
    </p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c3">
      <span class="c0"
        >En el supuesto de que no est&eacute;s interesado en que estos datos se
        trasladen a terceros con fines de ofertas, podr&aacute;s remitir un
        correo a </span
      ><span class="c5"
        ><a class="c8" href="mailto:dataprotection@runrunapp.com"
          >dataprotection@runrunapp.com</a
        ></span
      ><span class="c0"
        >&nbsp;solicitando tal extremo, con tu nombre y apellidos, correo
        electr&oacute;nico y tel&eacute;fono. En el plazo m&aacute;ximo de 72
        horas unx agente te contactar&aacute;, y tras verificar tu identidad,
        proceder&aacute; a eliminar tu disponibilidad para la cesi&oacute;n
        comercial de tu informaci&oacute;n a terceros.</span
      >
    </p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c3">
      <span class="c0"
        >Cualquier duda, problema o circunstancia especial que tengas, te
        invitamos a escribirnos a </span
      ><span class="c5"
        ><a class="c8" href="mailto:dataprotection@runrunapp.com"
          >dataprotection@runrunapp.com</a
        ></span
      ><span class="c0"
        >. No es un buz&oacute;n autom&aacute;tico, por lo que te prometemos
        leer todo lo que nos digas :)</span
      >
    </p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c3">
      <span class="c0"
        >En cualquier caso, y a pesar de todo lo anterior, te reservas el
        derecho a ejercer la acci&oacute;n de protecci&oacute;n de tus datos, de
        acuerdo con la legislaci&oacute;n cubana: si interpusieras esta
        acci&oacute;n ante la ley, nos convocar&aacute;n a una audiencia.
      </span>
    </p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c3">
      <span class="c7"
        >En todos los casos, desde el equipo de RUNRUN siempre estaremos
        encantados de colaborar y solucionar cualquier problema que pudieses
        tener.</span
      >
    </p>
  </div>
</div>
