<div class="background-runplus">
  <div
    class="plus-brand animate__fadeInUp"
    fxLayout="row"
    fxLayoutAlign="center start"
  >
    <div fxLayout="column" fxLayoutGap="5vh" fxLayoutAlign="center center">
      <img class="runrun-plus-img" src="/assets/landing/runrunplus-logo.svg" />
      <span class="subtitle-1 color-darkblue">
        Agencia integral de rentas
      </span>
      <span class="text-1-semibold color-darkblue"
        >Publicamos y gestionamos todo tipo de rentas de inmuebles</span
      >
      <a [routerLink]="['runrunplus']">
        <button class="darkblue-regular">Comenzar</button>
      </a>
    </div>
  </div>
</div>
