@import '/src/styles/constants/colors';

:host {
  .container {
    padding: 10px;
    background-color: $white;
    border-radius: 8px;

    img {
      border-radius: 8px;
      aspect-ratio: 3 / 2;
      height: 80px;
    }
    .rounded-gray {
      border-radius: 8px;
      background-color: $gray;
      padding: 0px 5px;
    }
    .rounded-darkgray {
      border-radius: 8px;
      background-color: $darkgray;
      color: $white;
      padding: 0px 5px;
    }
  }
}
