<div
  class="front-start-container"
  fxLayout="column"
  ngClass.xs="mobile"
  fxLayoutGap="40px"
>
  <h1 fxShow="false" fxShow.gt-xs class="main-font-bold-60 color-darkblue">
    Empieza ahora <br />
    con Runrún+
  </h1>

  <div fxLayout="column" class="ml-20" fxLayoutGap="30px">
    <span class="main-font-bold-40">Gestión Integral</span>

    <div fxLayout="column" fxLayoutGap="10px">
      <span class="subtitle-1">· Visita del gestor en 24 horas</span>
      <span class="subtitle-1">· Toma de fotos</span>
      <span class="subtitle-1">· Publicación de anuncio en RUNRÚN </span>
    </div>
    <div fxLayout="column" fxLayoutGap="10px">
      <span class="subtitle-1 color-red">+ Mayor visibilidad</span>
      <span class="subtitle-1 color-red"
        >+ Acceso a cuenta de comunicación</span
      >
      <span class="subtitle-1 color-red"
        >+ Enseñamos el alojamiento a candidatos
      </span>
      <span class="subtitle-1 color-red"
        >+ Encontramos al inquilino adecuado
      </span>
      <span class="subtitle-1 color-red"
        >+ Firma de contratos y entraga de llaves
      </span>
      <span class="subtitle-1 color-red"
        >+ Atendemos a roturas y necesidades del inquilino
      </span>
      <span class="subtitle-1 color-red"
        >+ Pago a arrendadores e informe mensual de gastos vía notificación y
        correo electrónico
      </span>
      <span class="subtitle-1 color-red"
        >+ Análisis de las cuentas a finales del año y proyecciones
      </span>
    </div>
    <div fxLayout="column" fxLayoutGap="10px">
      <span class="subtitle-1 color-green">Opcional</span>
      <span class="subtitle-1 color-green"
        >+ Pago de impuesto y tenencia del libro</span
      >
      <span class="subtitle-1 color-green">+ Declaración jurada</span>
    </div>
    <span class="main-font-bold-40">10% Renta mensual</span>

    <button
      mat-flat-button
      class="submit-btn button-variant-normal-oulined mt-20"
    >
      Comenzar
    </button>
  </div>
</div>
