:host {
  .front-start-container {
    margin: 0px 100px 30px 100px;
  }
  .mobile {
    margin: 0px 10px 30px 10px;
  }

  .submit-btn {
    margin-top: 30px;
    width: 180px;
    height: 42px;
  }
}
