<swiper [config]="config">
  <div class="swiper-wrapper">
    <app-simple-property-card
      class="swiper-slide"
      *ngFor="let property of listings"
      [routerLink]="[listingURL, property.id]"
      [title]="property.title"
      [img]="property.image"
      [price]="property.price"
      [currency]="property.currency"
    ></app-simple-property-card>
  </div>

  <!-- Add Pagination -->
  <!-- <div class="swiper-pagination"></div> -->

  <!-- Add Arrows -->
  <!-- <div class="swiper-button-next"></div> -->
  <!-- <div class="swiper-button-prev"></div> -->
</swiper>
