<div class="background-runplus">
  <div
    class="plus-brand animate__fadeInUp"
    fxLayout="row"
    fxLayoutAlign="center start"
  >
    <div fxLayout="column" fxLayoutGap="5vh" fxLayoutAlign="center center">
      <img
        class="runrun-plus-img"
        fxFlexOffset="20px"
        src="../../../../assets/landing/RunRunPlus.png"
      />
      <span class="text-1">
        El equipo de RUNRÚN+ gestiona integralmente los alojamientos
        garantizando la seguridad y estabilidad, servicios de mantenimiento y
        atención las 24 horas.
      </span>
    </div>
  </div>
</div>
