<div class="container" fxLayout="column" fxLayoutGap="5px">
  <mat-icon  svgIcon="casas" (click)="onClick('house')" ></mat-icon>
  <mat-icon  fxFlex svgIcon="apartamentos" (click)="onClick('apartament')"></mat-icon>
  <mat-icon  fxFlex svgIcon="habitaciones" (click)="onClick('room')"></mat-icon>
  <mat-icon  fxFlex svgIcon="oficinas" (click)="onClick('office')"></mat-icon>
  <mat-icon  fxFlex svgIcon="garajes" (click)="onClick('garage')"></mat-icon>
  <mat-icon  fxFlex class="locals" svgIcon="locales" (click)="onClick('local')"></mat-icon>
</div>
