@import 'src/styles/constants/colors';
@import 'src/styles/constants/constants';

:host {
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50px;
  }
  .badge {
    background-color: $black;
    border: none;
    border-radius: 8px;
    color: $white;
    padding: 0px 5px;
  }
  .container {
    padding: 10px;
  }
  .not-read {
    background-color: $white;
    border-radius: $big-border-radius;
  }
}
